        /* Reset some default styles */
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }

      body {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          background-color: #f5f5f5;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: auto;
          padding: 15px;
      }

      label {
        font-size: 20px;
        font-weight: 600;
      }

      .input-with-button {
          display: flex;
          align-items: center;
      }

      .input-with-button input {
          flex-grow: 1;
          padding: 10px;
          font-size: 12px;
          border: 1px solid #ccc;
          border-radius: 4px 0 0 4px;
      }

      .btn {
          padding: 11px 10px;
          font-size: 12px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 0 4px 4px 0;
          cursor: pointer;
      }

      .btn:hover {
          background-color: #0056b3;
      }

      .btn:active {
        transform: translateY(1px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

      #copy {
        position: absolute; 
        top: 1px; 
        right: 2px;
      }

      #imei-list {
          width: auto;
          padding: 8px;
          font-size: 15px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-family: monospace;
          white-space: pre;
          column-count: 5;
          column-width: 10em;
          height: auto;
          position: relative;
      }

      .icon {
        width: 2.1em;
        height: 2.1em;
        cursor: pointer;
        margin-left: 2px;
        display: inline;
      }

      .icon:active {
        transform: translateY(1px);
      }